<app-breadcrumb></app-breadcrumb>
<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
  <div class="px-4 mx-auto lg:px-12">
    <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
      <h2 class="dark:text-white text-center text-gray-700 text-4xl font-bold antialiased uppercase font-sans mb-2 pt-3">
        Ajout d'un congé
      </h2>
      <p class="dark:text-white text-center text-gray-700 text-xl font-normal antialiased normal-case line-clamp-3">
        Veuillez remplir les champs suivants pour ajouter un congé
      </p>
      <p class="dark:text-white text-center text-gray-700 text-sm font-normal antialiased normal-case font-sans mb-3">
        Les champs avec le symbole <span class="text-red-500 text-lg">*</span> sont requis
      </p>
      <div class="container mx-auto">
        <div class="flex flex-wrap -mx-4 mb-10">
          <div class="w-full px-8">
            <form (ngSubmit)="handleSubmit()" [formGroup]="congeForm" id="create-conge-form">
              <h3 class="dark:text-white text-gray-700 text-lg font-bold antialiased capitalize font-sans">
                Information sur le congé
              </h3>
              <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />

              <!-- Affichage des erreurs -->
              <div *ngIf="errorMessage.length > 0" class="w-full px-2 py-4 bg-red-100">
                <span class="text-red-400 font-thin">{{ errorMessage }}</span>
              </div>

              <!-- Nom -->
              <div class="mb-2">
                <label for="nom" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                  Nom <span class="text-red-500 text-lg">*</span>
                </label>
                <input id="nom" type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-100 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Nom du salarié" required formControlName="nom">
                <div *ngIf="congeForm.get('nom')?.touched && congeForm.get('nom')?.errors">
                  <span *ngIf="congeForm.get('nom')?.hasError('required')">Ce champ est requis</span>
                  <span *ngIf="congeForm.get('nom')?.hasError('minlength')">Le nom doit avoir au moins 3 caractères</span>
                </div>
              </div>

              <!-- Date début -->
              <div class="mb-2">
                <label for="dateDebut" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                  Date de début <span class="text-red-500 text-lg">*</span>
                </label>
                <input id="dateDebut" type="date"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-100 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required formControlName="dateDebut">
              </div>

              <!-- Date fin -->
              <div class="mb-2">
                <label for="dateFin" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                  Date de fin <span class="text-red-500 text-lg">*</span>
                </label>
                <input id="dateFin" type="date"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-100 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required formControlName="dateFin">
              </div>

              <!-- Type de congé -->
              <div class="mb-2">
                <label for="type" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                  Type de congé <span class="text-red-500 text-lg">*</span>
                </label>
                <select id="type"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-100 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required formControlName="type">
                  <option value="" disabled selected>Choisir un type de congé</option>
                  <option value="MALADIE">Maladie</option>
                  <option value="ANNUEL">Annuel</option>
                  <option value="EXCEPTIONNEL">Exceptionnel</option>
                </select>
              </div>

              <!-- Bouton de soumission -->
              <div class="mb-2">
                <button type="submit" [disabled]="loading"
                  class="w-fit rounded-lg text-sm px-5 py-2 focus:outline-none h-[40px] border border-green-500 text-white bg-green-700 hover:bg-green-800 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 focus:ring-4 focus:ring-green-200 hover:ring-4 hover:ring-green-100 transition-all duration-300">
                  <div class="flex gap-2 items-center justify-center">
                    Soumettre
                    <span *ngIf="loading">
                      <svg aria-hidden="true" class="ms-2 w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3345 21.5731 82.6573 25.8352C85.9802 30.0973 88.4097 34.7809 89.6173 39.6127C89.9399 41.1638 92.1646 42.0566 93.9676 39.0409Z" fill="currentFill" />
                      </svg>
                    </span>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>