<section class="bg-white dark:bg-gray-900 py-2 px-2 mt-5">
    <div class="max-w-screen-xl mx-auto">
        <a [routerLink]="['add']">
            <button type="button" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
              <svg class="mr-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
              </svg>
                <span class="text-white sm:inline">Feuille de temps</span>
            </button>
          </a>
    </div>
</section>

<section class="bg-white dark:bg-gray-900 py-2 px-2 mt-5">
    <div class="max-w-screen-xl mx-auto">
        <div id="accordion-open" data-accordion="close">
            <h2 id="accordion-open-heading-1">
            <button type="button" class="flex items-center justify-between w-full py-2 font-medium rtl:text-right text-gray-500 dark:text-gray-400 gap-3" data-accordion-target="#accordion-open-body-1" aria-expanded="false" aria-controls="accordion-open-body-1">
                <span class="flex items-center">
                    <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M5.05 3C3.291 3 2.352 5.024 3.51 6.317l5.422 6.059v4.874c0 .472.227.917.613 1.2l3.069 2.25c1.01.742 2.454.036 2.454-1.2v-7.124l5.422-6.059C21.647 5.024 20.708 3 18.95 3H5.05Z"/>
                      </svg>                                           
                    Filtre de recherche
                </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
            </h2>
            <div id="accordion-open-body-1" class="hidden" aria-labelledby="accordion-open-heading-1">
                <div class="p-5 dark:bg-gray-900">
                    <div class="mb-3">
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Choisir un status</option>
                            <option value="APPROUVED">Approuvée</option>
                            <option value="REJECTED">Rejetée</option>
                            <option value="PENDING">En cours</option>
                          </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900 py-5 px-2 mt-5">
    <div class="max-w-screen-xl mx-auto">
        <ul>
            @if (paginatedTimeSheets.length > 0) {
                @for (timesheet of paginatedTimeSheets; track $index) {
                    <li class="shadow-xl flex-row items-center justify-between py-3 px-4 bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <div class="flex items-center space-x-4 justify-between">
                            <div class="font-medium dark:text-white">
                                <h5 class="text-md text-gray-700 dark:text-gray-400">{{timesheet.employee?.name}}</h5>
                                <h2 class="text-lg font-bold text-gray-700 dark:text-gray-400">{{timesheet.title??'non defini'}}</h2>
                                <p class="text-sm text-gray-500 dark:text-gray-400 flex items-center space-x-2 mb-3">
                                    <span class="flex items-center space-x-2">
                                        <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
                                          </svg>
                                           {{timesheet.date| date:'dd/MM/yyyy'}}
                                    </span>
                                    <span class="flex items-center space-x-2">
                                        <svg class="w-6 h-6 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
                                          </svg>
                                           {{timesheet.startTime}} - {{timesheet.endTime}}
                                    </span>
                                </p>
                                <p class="text-sm text-gray-700 dark:text-gray-400 flex items-center space-x-2">
                                    {{ timesheet.description}}
                                </p>
                                <div>
                                    <span
                                      [ngClass]="{
                                        'bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300': timesheet.status === 'PENDING',
                                        'bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300': timesheet.status === 'REJECTED',
                                        'bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300': timesheet.status === 'APPROVED'
                                      }"
                                      class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm"
                                    >
                                      {{ timesheet.status }}
                                    </span>
                                  </div>
                            </div>
                            <div class="flex items-center space-x-4 justify-end">
                                <a href="" class="flex items-center space-x-4 border rounded-lg p-2 bg-blue-100 text-blue-500">
                                    <svg class="w-6 h-6 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                                      </svg> Afficher                         
                                </a>
                            </div>
                        </div>
                    </li>
                    <hr class="my-2 border-gray-200 dark:border-gray-700" />
                }
                <app-pagination 
                    [totalItems]= "filteredTimeSheets.length"
                    [itemsPerPage]= "itemsPerPage"
                    [currentPage]= "currentPage"
                    (pageChange)="onPageChange($event)"
                ></app-pagination>
            }@else {
                <div class="font-medium dark:text-white">
                    <div class="text-sm text-gray-500 dark:text-gray-400">Aucune feuille de temps trouvée</div>
                </div>
            }
            
            
            
        </ul>
    </div>
</section>